*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font */
@font-face {
  font-family: 'Montserrat';
  src: url("/public/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'cherry';
  src: url("/public/Cherry_Bomb_One/CherryBombOne-Regular.ttf");
  font-display: swap;
}


/* Hero section */
.hero{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 0 20px; */
}

.hero p{
    font-size: clamp(0.5rem, 2vw, 2rem);
}

/* Heading */
.hero h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: clamp(2rem, 5vw, 4rem); /* responsive font */
    line-height: 1.2;
    width:70vw;
}

/* Emphasis */

/* Highlight blocks */
.highlight{
    display: inline-block;
    height: 0.6em; /* proportional to text */
    width: 2em;
    background-color: rgb(255, 255, 0);
    vertical-align: middle;
    margin: 0 0.3em;
    border-radius: 3px;
}


.text-logo {
  font-family: "cherry";
  font-size: 28px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

/* Premium hover */
.text-logo {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.text-logo:hover {
  opacity: 0.7;
  transform: translateY(-1px);
}

